<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

<title><%= title %></title>

<link rel="icon" type="image/x-icon" href="/assets/icon/favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<% for(let style of styles) { %><link rel="stylesheet" href="<%= style %>"><% } %>

<script crossorigin="anonymous" src="<%= (process.env.NODE_ENV === 'production') ? 'https://unpkg.com/babel-standalone@6.26.0/babel.min.js' : 'https://unpkg.com/babel-standalone@6.26.0/babel.js' %>"></script>
<script crossorigin="anonymous" src="<%= (process.env.NODE_ENV === 'production') ? 'https://unpkg.com/react@16.12.0/umd/react.production.min.js' : 'https://unpkg.com/react@16.12.0/umd/react.development.js' %>"></script>
<script crossorigin="anonymous" src="<%= (process.env.NODE_ENV === 'production') ? 'https://unpkg.com/react-dom@16.12.0/umd/react-dom.production.min.js' : 'https://unpkg.com/react-dom@16.12.0/umd/react-dom.development.js' %>"></script>
<script crossorigin="anonymous" src="<%= (process.env.NODE_ENV === 'production') ? 'https://unpkg.com/@material-ui/core@4.8.3/umd/material-ui.production.min.js' : 'https://unpkg.com/@material-ui/core@4.8.3/umd/material-ui.development.js' %>"></script>

</head>

<body>
<div></div>