<%-include('../header.layout.ejs', { title : "Welcome Page", styles : Array('/assets/style/index.css') }) %>

<%- include('../footer.layout.ejs', { scripts : Array('/assets/script/src/index.js', '/assets/script/src/render.js') }) %>